{% extends "layout.html" %}

{% block pageTitle %}
{{ summary.nhsNumber }} - Supermarkets
{% endblock %}

{% block beforeAppContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/home">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="summary">NHS number: {{ summary.nhsNumber }}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Supermarkets</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        &nbsp;
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Supermarket matches</span>
            NHS: {{summary.nhsNumber }}
        </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <nav class="govuk-grid-column-one-quarter">
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="summary">Summary</a>
            </li>
            <li>
                Supermarkets
            </li>
            <li>
                <a class="govuk-link" href="deliveries">Deliveries</a>
            </li>
            <li>
                <a class="govuk-link" href="timeline">Timeline</a>
            </li>
        </ul>
    </nav>
    <div class="govuk-grid-column-three-quarters">


        <section class="govuk-!-margin-bottom-9">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ summary.name }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ summary.dob }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Latest address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for line in summary.latestAddress %}
                        {{ line }}{% if not loop.last %}<br/>{% endif %}
                        {% endfor %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address from NHS
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for line in summary.nhsAddress %}
                        {{ line }}{% if not loop.last %}<br/>{% endif %}
                        {% endfor %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact details
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if summary.phone %} <p class="govuk-body">{{ summary.phone }}</p> {% endif %}
                        <p class="govuk-body">{{ summary.email }}</p>
                    </dd>
                </div>
            </dl>
        </section>

        <section class="govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-m">Supermarket priority summary</h2>

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Is this person on the SPL?
                    </td>
                    <td class="govuk-table__cell">
                        {% if spl.value %}
                        <strong class="govuk-tag">
                            Yes
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            No
                        </strong>
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {% if spl.action %}{{ spl.action }} <br/>{% endif %}
                        {{ spl.date }}
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Has this person ever registered for supermarket priority slots?
                    </td>
                    <td class="govuk-table__cell">
                        {% if supermarkets.registered.value %}
                        <strong class="govuk-tag">
                            Yes
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            No
                        </strong>
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {% if supermarkets.registered.action %}{{ supermarkets.registered.action }} <br/>{% endif %}
                        {{ supermarkets.registered.date }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Is this person in the file sent to supermarkets?
                    </td>
                    <td class="govuk-table__cell">
                        {% if supermarkets.inFile %}
                        <strong class="govuk-tag">
                            Yes
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            No
                        </strong>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-m">Supermarket matches</h2>

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Asda
                    </td>
                    <td class="govuk-table__cell">
                        {% if supermarkets.matches.asda %}
                        <strong class="govuk-tag">
                            Yes
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            No
                        </strong>
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Iceland
                    </td>
                    <td class="govuk-table__cell">
                        {% if supermarkets.matches.iceland %}
                        <strong class="govuk-tag">
                            Yes
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            No
                        </strong>
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Lidl
                    </td>
                    <td class="govuk-table__cell">
                        {% if supermarkets.matches.lidl %}
                        <strong class="govuk-tag">
                            Yes
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            No
                        </strong>
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Morrisons
                    </td>
                    <td class="govuk-table__cell">
                        {% if supermarkets.matches.morrisons %}
                        <strong class="govuk-tag">
                            Yes
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            No
                        </strong>
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Ocado
                    </td>
                    <td class="govuk-table__cell">
                        {% if supermarkets.matches.ocado %}
                        <strong class="govuk-tag">
                            Yes
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            No
                        </strong>
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Sainsburys
                    </td>
                    <td class="govuk-table__cell">
                        {% if supermarkets.matches.sainsburys %}
                        <strong class="govuk-tag">
                            Yes
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            No
                        </strong>
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Tesco
                    </td>
                    <td class="govuk-table__cell">
                        {% if supermarkets.matches.tesco %}
                        <strong class="govuk-tag">
                            Yes
                        </strong>
                        {% else %}
                        <strong class="govuk-tag govuk-tag--grey">
                            No
                        </strong>
                        {% endif %}
                    </td>
                </tr>

                </tbody>
            </table>
        </section>
    </div>
</div>

{% endblock %}
